<div class="vocab-list-item-outer-container">
  <div class="word-type-container">
    <p>{{ item.wordType }}</p>
  </div>
  <div class="vocab-list-item-container">
    <div class="german">
      <div class="noun-container">
        <h1>{{ item.german }}</h1>
        <ng-container *ngIf="item.preposition">
          <div class="small-spacer"></div>
          <h3>
            ({{ item.preposition! }} + {{ item.prepositionCase! | germanShortCase: false }})
          </h3>
        </ng-container>
      </div>
      <div class="additional-info-container column">
        <p *ngIf="isIrregular">
          {{ item.thirdPersonPresent }}, {{ item.thirdPersonImperfect }}, {{ item.auxiliaryVerb | thirdPersonAuxiliary }} {{ item.perfect }}
        </p>
        <div class="row">
          <p>
            {{ item.transitivity | transitiveDisplay }}
          </p>
          <div class="spacer"></div>
          <p>
            {{ item.separability! | separableDisplay }}
          </p>
        </div>
      </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="english">
      <h1>{{ item.english }}</h1>
    </div>
  </div>
</div>
