<div class="nav-group">
  <a mat-button class="nav-item" [routerLink]="[VocabRoutePath.Root]">
    <mat-icon aria-hidden="false" aria-label="Vocab" fontIcon="translate"></mat-icon>
    Vocab
  </a>
  <a mat-button class="nav-item" [routerLink]="[TestingRoutePath.Root, TestingRoutePath.Dashboard]">
    <mat-icon aria-hidden="false" aria-label="Tests" fontIcon="quiz"></mat-icon>
    Testing
  </a>
</div>
<div class="nav-group">
  <mat-divider></mat-divider>
  <a mat-button class="nav-item">
    <mat-icon aria-hidden="false" aria-label="Account" fontIcon="person"></mat-icon>
    Account
  </a>
  <a mat-button class="nav-item">
    <mat-icon aria-hidden="false" aria-label="Settings" fontIcon="settings"></mat-icon>
    Settings
  </a>
  <ng-container *ngrxLet="isLoggedIn$ as isLoggedIn" [ngSwitch]="isLoggedIn">
      <a *ngSwitchCase="true" mat-button class="nav-item">
        <mat-icon aria-hidden="false" aria-label="Log out" fontIcon="logout"></mat-icon>
        Log out
      </a>
      <a *ngSwitchCase="false" mat-button class="nav-item">
        <mat-icon aria-hidden="false" aria-label="Log in" fontIcon="login"></mat-icon>
        Log in
      </a>
  </ng-container>
</div>
