<div class="log-in-container">
  <div class="log-in-content-container">
    <div class="log-in-header">
      <h1>German Vocab App</h1>
    </div>
    <mat-divider class="log-in-header-divider"></mat-divider>
    <div class="log-in-form">
      <landing-log-in-form (submitted)="onLogIn($event)"></landing-log-in-form>
    </div>
    <mat-divider></mat-divider>
    <div class="auth-actions-container">
      <a>Forgotten password?</a>
    </div>
    <mat-divider></mat-divider>
    <button mat-stroked-button type="button">Create account</button>
  </div>
</div>
<div class="landing-container"></div>
