<div class="log-in-container">
  <div class="log-in-content-container">
    <div class="log-in-header">
      <h1>German Vocab App</h1>
    </div>
    <mat-divider class="log-in-header-divider"></mat-divider>
    <div class="log-in-form">
      <form class="sign-in">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <!--<input formControlName="username" matInput [errorStateMatcher]="requiredIfTouched">-->
          <input formControlName="username" matInput>
          <!--<mat-error *ngIf="nameValidationMessage$ | async as message">{{ message }}</mat-error>-->
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Passwordab</mat-label>
          <!--<input formControlName="username" matInput [errorStateMatcher]="requiredIfTouched">-->
          <input formControlName="password" matInput>
          <!--<mat-error *ngIf="nameValidationMessage$ | async as message">{{ message }}</mat-error>-->
        </mat-form-field>
        <!--<button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Sign in</button>-->
        <button class="sign-in-button" mat-raised-button color="primary" type="submit">Sign in</button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="auth-actions-container">
      <a >Forgotten password?</a>
    </div>
    <mat-divider></mat-divider>
    <button mat-stroked-button type="button">Create account</button>
  </div>
</div>
<div class="landing-container"></div>
