header {
  justify-content: space-between;
  align-items: center;
}

.form-group.list-item-form {
  display: flex;
  flex: 1;
  border-style: solid;
  border-width: .025rem;
  border-color: grey;
  border-radius: var(--border-radius-tlbr) var(--border-radius-trbl);
  box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-blur) rgba(0,0,0, var(--box-shadow-opacity));
  padding: 5px;
}

.list-item-form.submission-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.card-body.list-item-form {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}
