.list-item-form.container {
  display: flex;
}

.form-group.list-item-form {
  display: flex;
  flex: 1;
  border-style: solid;
  border-width: .025rem;
  border-color: grey;
  border-radius: var(--border-radius-tlbr) var(--border-radius-trbl);
  box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-blur) rgba(0,0,0, var(--box-shadow-opacity));
  padding: 5px;
}

.list-item-form.action-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 8px 16px 0 0;
}

vocab-list-item.column.form-container {
  display: flex;
  flex-direction: column;
}

.form-row {
    display: flex;
}
