<div [formGroup]="parentForm">
  <div [formGroup]="form" class="list-item-form container">
    <div class="list-item-form action-panel">
      <button mat-icon-button color="accent" matTooltip="Duplicate" matTooltipPosition="left"
              type="button">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="Archive" matTooltipPosition="left"
              type="button"
              (click)="removeListItemControl(index)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <form-drop-down-control [form]="form" controlName="wordType"
                            controlId="wordType_{{ index }}" label="Word type"
                            [options]="dropDownOptions.wordTypeOptions"></form-drop-down-control>

    <div *ngrxLet="wordType$ as wordType">
      <div [ngSwitch]="wordType">
        <noun-form *ngSwitchCase="WordType.Noun" [form]="form" [index]="index"></noun-form>
        <verb-form *ngSwitchCase="WordType.Verb" [form]="form" [index]="index"></verb-form>
        <adjective-form *ngSwitchCase="WordType.Adjective" [form]="form" [index]="index"></adjective-form>
        <adverb-form *ngSwitchCase="WordType.Adverb" [form]="form" [index]="index"></adverb-form>
      </div>
    </div>
  </div>
</div>
