<main>
  <div class="vocab-list-container" *ngrxLet="vocabList$ as vocabList">
    <header>
      <div class="vocab-list-header">
        <h1>{{ vocabList.name }}</h1>
        <p>{{ vocabList.description }}</p>
      </div>
    </header>
    <mat-divider></mat-divider>
    <div class="list-items-container">
      <vocab-list-item *ngFor="let listItem of vocabList.listItems"
                       [item]="listItem"></vocab-list-item>
    </div>
    <div class="add-item-control-panel">
      <button mat-raised-button color="primary" type="button" class="large"
              (click)="addVocabListItem()">
        Add
      </button>
    </div>
  </div>
</main>
