.no-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

mat-nav-list {
  width: 100%;
  height: 100%;
}

mat-list-item {
  height: 80px;
}

.list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mat-line-height-guideline {
  display: none;
}

.list-item-container a {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  margin: 0 16px;
}

.list-item-container a, .list-item-container button {
  display: flex;
}

.list-item-actions {
  display: flex;
  flex-direction: column;
  flex: 0 0 40px;
  justify-content: center;
  align-items: center;
}

.list-item-actions button {
  justify-content: center;
  align-items: center;
}
