<div [formGroup]="form">
  <div class="form-row">
    <form-text-box-control [form]="form" controlName="german"
                           controlId="german_{{ index }}" label="German"></form-text-box-control>
    <form-text-box-control [form]="form" controlName="english"
                           controlId="english_{{ index }}" label="English"></form-text-box-control>
    <form-check-box-control [form]="form" controlName="isIrregular"
                            controlId="isIrregular_{{ index }}" label="Irregular"></form-check-box-control>
    <ng-container *ngrxLet="isIrregular$ as isIrregular">
      <form-text-box-control [ngClass]="{ hidden: !isIrregular }"
                             [form]="form" controlName="comparative"
                             controlId="comparative_{{ index }}" label="Comparative"></form-text-box-control>
      <form-text-box-control [ngClass]="{ hidden: !isIrregular }"
                             [form]="form" controlName="superlative"
                             controlId="superlative_{{ index }}" label="Superlative"></form-text-box-control>
    </ng-container>
  </div>
</div>
