:root {
  --primary: #6200ee;
  --primary-variant-dark: #3700b3;
  --primary-variant-light: #bb86fc;
  --foreground-primary: #ffffff;

  --secondary: #03dac6;
  --secondary-variant-dark: #018786;
  --foreground-secondary: black;
  /*--secondary-variant-light: #018786;*/

  --background: #ffffff;
  --surface: #ffffff;
  --surface-disabled: #e0e0e0;

  --danger: #b00020;
  --danger-variant-dark: #b71c1c;
  --danger-outline-fill: #ffffff;
  --foreground-danger: #ffffff;
  --foreground-danger-outline: black;

  --warning: #b00020;
  --foreground-warning: #ffffff;

  --box-shadow-h-offset: 0;
  --box-shadow-v-offset: 2px;
  --box-shadow-blur: 4px;
  --box-shadow-opacity: 0.2;
  --border-radius-tlbr: .3rem;
  --border-radius-trbl: .4rem;
}
