@import '@angular/material/prebuilt-themes/purple-green.css';
@import '_variables';
@import 'controls/buttons';
@import 'controls/cards';
@import 'controls/tiles';
@import 'forms/layout';
@import 'variables/font-sizes';

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  font-family: Calibri;
}

body {
  margin: 0;
  width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
}

main {
    background-color: black;
}

article, section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row {
    display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

/*h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}*/

.bordered {
  border-style: solid;
  border-color: black;
}

.centered-m {
    justify-content: center;
}

.centered-c {
  align-items: center;
}

.centered {
  justify-content: center;
  align-items: center;
}
