<div [formGroup]="form">
  <div class="form-row">
    <form-drop-down-control [form]="form" controlName="reflexiveCase"
                            controlId="reflexiveCase_{{ index }}" label="Reflexive case"
                            [options]="dropDownOptions.reflexiveCaseOptions"></form-drop-down-control>
    <form-text-box-control [form]="form" controlName="german"
                           controlId="german_{{ index }}" label="German"></form-text-box-control>
    <form-text-box-control [form]="form" controlName="preposition"
                           controlId="preposition_{{ index }}" label="Preposition"></form-text-box-control>
    <form-drop-down-control [form]="form" controlName="prepositionCase"
                            controlId="prepositionCase_{{ index }}" label="Preposition case"
                            [options]="dropDownOptions.caseOptions"></form-drop-down-control>
    <form-text-box-control [form]="form" controlName="english"
                           controlId="english_{{ index }}" label="English"></form-text-box-control>
    <form-drop-down-control [form]="form" controlName="auxiliaryVerb"
                            controlId="auxiliaryVerb_{{ index }}" label="Auxiliary verb"
                            [options]="dropDownOptions.auxiliaryVerbOptions"></form-drop-down-control>
  </div>
  <div class="form-row">
    <form-check-box-control [form]="form" controlName="isIrregular"
                            controlId="isIrregular_{{ index }}" label="Irregular"></form-check-box-control>
    <form-check-box-control [form]="form" controlName="isSeparable"
                            controlId="isSeparable_{{ index }}" label="Separable"></form-check-box-control>
    <form-check-box-control [form]="form" controlName="isTransitive"
                            controlId="isTransitive_{{ index }}" label="Transitive"></form-check-box-control>
  </div>
  <div class="form-row" *ngIf="isIrregular$ | async">
    <form-text-box-control [form]="form" controlName="thirdPersonPresent"
                           controlId="thirdPersonPresent_{{ index }}" label="Third-person present"></form-text-box-control>
    <form-text-box-control [form]="form" controlName="thirdPersonImperfect"
                           controlId="thirdPersonImperfect_{{ index }}" label="Third-person imperfect"></form-text-box-control>
    <form-text-box-control [form]="form" controlName="perfect"
                           controlId="perfect_{{ index }}" label="Perfect"></form-text-box-control>
  </div>
</div>
