<main>
  <div class="vocab-lists-container">
    <header>
      <div class="vocab-lists-header">
        <h1>Your vocab lists</h1>
        <div class="vocab-lists-controls">
          <a mat-raised-button color="primary" [routerLink]="['/vocab', 'vocab-list-form']">
            Add new list
          </a>
          <button mat-raised-button color="accent" type="button" (click)="exportToJson()">
            {{ jsonButtonLabel$ | async }}
          </button>
        </div>
      </div>
    </header>
    <mat-divider></mat-divider>
    <vocab-lists-presenter [vocabLists]="(vocabLists$ | async)!"></vocab-lists-presenter>
    <div [ngClass]="{'hidden' : !(showJson$ | async)}" >
      <mat-divider></mat-divider>
      <div>
        <div>
          <h2>JSON</h2>
        </div>
        <pre>{{ (json$ | async) | json }}</pre>
      </div>
    </div>
  </div>
</main>
