.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-style: solid;
  border-width: .025rem;
  border-color: grey;
  border-radius: var(--border-radius-tlbr) var(--border-radius-trbl);
  box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-blur) rgba(0,0,0, var(--box-shadow-opacity));
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
}

.card > header {
  display: flex;
  padding: 5px;
}

.card > footer {
  flex-basis: 20%;
  color: black;
  padding: 5px 0 5px 5px;
  width: 100%;
}

.card > header.primary, .card > footer.primary {
  color: var(--foreground-primary);
  background-color: var(--primary);
}

.card > header.secondary, .card > footer.secondary {
  color: var(--foreground-secondary);
  background-color: var(--secondary);
}
