.radio-button-label {
  display: flex;
  width: 50%;
}

.radio-button-options {
  display: flex;
  flex-direction: column;
}

.radio-button-option {
  display: flex;
  justify-content: space-between;

  label, input, select {
    display: flex;
  }
}
