<section>
  <div class="card">
    <header class="primary">
      <h1>New Vocab List</h1>
    </header>
    <div class="card-body">
      <form [formGroup]="vocabListForm" (ngSubmit)="onFormSubmit()" novalidate>
        <div class="form-group">
          <form-text-box-control [form]="vocabListForm" controlName="name" controlId="name"
                                 label="List title"></form-text-box-control>
          <form-text-box-control [form]="vocabListForm" controlName="description" controlId="description"
                                 label="List description"></form-text-box-control>
        </div>
        <div class="card list-items-container">
          <header class="primary">
            <h3>List Items</h3>
            <button class="secondary vsmall" type="button"
                    (click)="addListItemControl()">
              Add
            </button>
          </header>

          <div class="card-body list-item-form" formArrayName="listItems"
               *ngFor="let listItem of listItemsControl.controls; let i=index">
            <div class="form-group list-item-form" [formGroupName]="i">

              <app-vocab-list-item-form [parentForm]="vocabListForm"
                                        [form]="getListItemControl(i)" [index]="i"
                                        (removeListItem)="removeListItemControl($event)"></app-vocab-list-item-form>
            </div>
          </div>
        </div>

        <div class="submission-panel">
          <button class="secondary medium" type="submit" [disabled]="!vocabListForm.valid">Add</button>
          <button class="medium" type="reset">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</section>
