app-vocab-list-item-form  {
  width: 100%;
  margin: 8px 0;
}

mat-divider {
    margin: 8px 0;
}

.list-items-header {
    display: flex;
    justify-content: space-between;
}

.submission-controls {
    display: flex;
    margin: 16px;
}

.submission-controls > button {

    margin: 0 8px;
}
