<form [formGroup]="vocabListForm" (ngSubmit)="onFormSubmit()" novalidate>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input formControlName="description" matInput>
    <mat-hint align="end">{{vocabListForm.controls.description.value?.length}} / 1000</mat-hint>
  </mat-form-field>
  <mat-card>
    <mat-card-title class="list-items-header">
      <h4>List Items</h4>
      <button mat-raised-button color="primary" type="button" 
              (click)="addListItemControl()">Add</button>
    </mat-card-title>
    <mat-card-content>
      <div class="card-body list-item-form" formArrayName="listItems"
           *ngFor="let listItem of listItemsControl.controls; let i=index">
        <app-vocab-list-item-form [parentForm]="vocabListForm"
                                  [form]="getListItemControl(i)" [index]="i"
                                  (removeListItem)="removeListItemControl($event)"></app-vocab-list-item-form>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="submission-controls">
    <button mat-button color="primary" type="submit" [disabled]="!vocabListForm.valid">Save</button>
    <button mat-stroked-button type="reset">Cancel</button>
  </div>
</form>
