app-vocab-list-item-form  {
  width: 80%;
  margin: auto;
}

.list-items-header {
    display: flex;
    justify-content: space-between;
}

.submission-controls {
    display: flex;
    margin: 16px;
}

.submission-controls > button {

    margin: 0 8px;
}
