<section>
  <div class="card">
    <header class="primary">
      <h1>New Vocab List</h1>
    </header>
    <div class="card-body">
      <form [formGroup]="vocabListForm" (ngSubmit)="onFormSubmit()" novalidate>
        <div class="form-group">
          <form-text-box-control [form]="vocabListForm" controlName="name" controlId="name"
                                 label="List title"></form-text-box-control>
          <form-text-box-control [form]="vocabListForm" controlName="description" controlId="description"
                                 label="List description"></form-text-box-control>
        </div>
        <app-vocab-list-item-form [parentForm]="vocabListForm"></app-vocab-list-item-form>
        <div class="submission-panel">
          <button class="secondary medium" type="submit" [disabled]="!vocabListForm.valid">Add</button>
          <button class="medium" type="reset">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</section>
