.vocab-list-card {
  width: 15rem;
  height: 10rem;
  margin: 5px;

.body {
    flex-basis: 60%;
  }
}

.vocab-list-card:hover {
  .title, .footer {
    color: #ffffff;
    background-color: #018786;
  }
}

@media screen and (max-width: 576px) {
  .vocab-list-card {
    width: 10rem;
    height: 7.5rem;
  }
}
